<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
</head>
<style>
    body{
        background-color: #DCDCDC;
    }

    .header {
        color: black;
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: right;
    }

    .logo {
        text-align: left;
    }

    .nav {
        justify-content: space-evenly;
    }

    .nav-item {
        font-size: larger;
        color: rgb(0, 0, 0);
        padding: 50px;
        text-decoration: underline;
    }

</style>

<div>
    <header class="header">
            <nav class="nav">
                {% load static %}
                <a href="/home/"><img src="{% static 'images/uowlogo.jpg' %}" class="logo" alt="unilogo" height="100" width="300"></a>
                <a href="/account/" class="nav-item">Account</a>
                <a href="/equipment/" class="nav-item">Equipments</a>
                <a href="/reservation/" class="nav-item">Reservations</a>
                <a href="/notification/" class="nav-item">Notifications</a>
            </nav>
    </header>
    <hr>
</div>


</html>